# API SECRETS
SECRET_KEY=
ALGORITHM=

# POSTGRESQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# SQLALCHEMY URL
SQLALCHEMY_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# REDIS
REDIS_DB=
REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

# REDIS URL
REDIS_URL=redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}

# EMAIL CONNECTION
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=

# CLOUDINARY CONNECTION
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# DATABASE CHECKS
REQUIRED_TABLES='["users_table", "parking_places_table", "cars_table", "tariffs_table", "parking_count_table", "blacklisted_tokens"]'