absl-py==2.1.0 ; python_full_version == "3.10.8"
aiosmtplib==2.0.2 ; python_full_version == "3.10.8"
alabaster==0.7.16 ; python_full_version == "3.10.8"
alembic==1.10.2 ; python_full_version == "3.10.8"
anyio==4.3.0 ; python_full_version == "3.10.8"
astunparse==1.6.3 ; python_full_version == "3.10.8"
async-timeout==4.0.3 ; python_full_version == "3.10.8"
attrs==23.2.0 ; python_full_version == "3.10.8"
babel==2.13.0 ; python_full_version == "3.10.8"
bcrypt==4.0.1 ; python_full_version == "3.10.8"
blinker==1.7.0 ; python_full_version == "3.10.8"
cachetools==5.3.3 ; python_full_version == "3.10.8"
certifi==2024.2.2 ; python_full_version == "3.10.8"
cffi==1.16.0 ; python_full_version == "3.10.8"
charset-normalizer==3.3.2 ; python_full_version == "3.10.8"
click==8.1.7 ; python_full_version == "3.10.8"
cloudinary==1.32.0 ; python_full_version == "3.10.8"
colorama==0.4.6 ; python_full_version == "3.10.8"
cryptography==41.0.5 ; python_full_version == "3.10.8"
dnspython==2.6.1 ; python_full_version == "3.10.8"
docutils==0.19 ; python_full_version == "3.10.8"
ecdsa==0.19.0 ; python_full_version == "3.10.8"
email-validator==1.3.1 ; python_full_version == "3.10.8"
exceptiongroup==1.2.0 ; python_full_version == "3.10.8"
fastapi-limiter==0.1.5 ; python_full_version == "3.10.8"
fastapi-mail==1.2.7 ; python_full_version == "3.10.8"
fastapi==0.95.0 ; python_full_version == "3.10.8"
flatbuffers==24.3.25 ; python_full_version == "3.10.8"
gast==0.5.4 ; python_full_version == "3.10.8"
google-auth-oauthlib==0.4.6 ; python_full_version == "3.10.8"
google-auth==2.29.0 ; python_full_version == "3.10.8"
google-pasta==0.2.0 ; python_full_version == "3.10.8"
greenlet==3.0.3 ; (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_full_version == "3.10.8"
grpcio==1.62.1 ; python_full_version == "3.10.8"
h11==0.14.0 ; python_full_version == "3.10.8"
h5py==3.11.0 ; python_full_version == "3.10.8"
httpcore==1.0.5 ; python_full_version == "3.10.8"
httpx==0.25.2 ; python_full_version == "3.10.8"
idna==3.7 ; python_full_version == "3.10.8"
imagesize==1.4.1 ; python_full_version == "3.10.8"
iniconfig==2.0.0 ; python_full_version == "3.10.8"
jinja2==3.1.2 ; python_full_version == "3.10.8"
keras-preprocessing==1.1.2 ; python_full_version == "3.10.8"
keras==2.8.0 ; python_full_version == "3.10.8"
libclang==18.1.1 ; python_full_version == "3.10.8"
mako==1.3.3 ; python_full_version == "3.10.8"
markdown==3.6 ; python_full_version == "3.10.8"
markupsafe==2.1.5 ; python_full_version == "3.10.8"
numpy==1.26.4 ; python_full_version == "3.10.8"
oauthlib==3.2.2 ; python_full_version == "3.10.8"
opencv-python==4.9.0.80 ; python_full_version == "3.10.8"
opt-einsum==3.3.0 ; python_full_version == "3.10.8"
outcome==1.3.0.post0 ; python_full_version == "3.10.8"
packaging==24.0 ; python_full_version == "3.10.8"
passlib==1.7.4 ; python_full_version == "3.10.8"
pillow==10.3.0 ; python_full_version == "3.10.8"
pluggy==1.4.0 ; python_full_version == "3.10.8"
protobuf==3.20.0 ; python_full_version == "3.10.8"
psycopg2-binary==2.9.9 ; python_full_version == "3.10.8"
psycopg2==2.9.5 ; python_full_version == "3.10.8"
pyasn1-modules==0.4.0 ; python_full_version == "3.10.8"
pyasn1==0.6.0 ; python_full_version == "3.10.8"
pycparser==2.22 ; python_full_version == "3.10.8"
pydantic==1.10.7 ; python_full_version == "3.10.8"
pygments==2.17.2 ; python_full_version == "3.10.8"
pypng==0.20220715.0 ; python_full_version == "3.10.8"
pytest-asyncio==0.23.2 ; python_full_version == "3.10.8"
pytest-mock==3.12.0 ; python_full_version == "3.10.8"
pytest-trio==0.8.0 ; python_full_version == "3.10.8"
pytest==7.4.3 ; python_full_version == "3.10.8"
python-dotenv==1.0.0 ; python_full_version == "3.10.8"
python-jose==3.3.0 ; python_full_version == "3.10.8"
python-multipart==0.0.6 ; python_full_version == "3.10.8"
pytz==2024.1 ; python_full_version == "3.10.8"
qrcode[pil]==7.4.2 ; python_full_version == "3.10.8"
redis==4.5.4 ; python_full_version == "3.10.8"
requests-oauthlib==2.0.0 ; python_full_version == "3.10.8"
requests==2.31.0 ; python_full_version == "3.10.8"
rsa==4.9 ; python_full_version == "3.10.8"
setuptools==69.5.1 ; python_full_version == "3.10.8"
six==1.16.0 ; python_full_version == "3.10.8"
sniffio==1.3.0 ; python_full_version == "3.10.8"
snowballstemmer==2.2.0 ; python_full_version == "3.10.8"
sortedcontainers==2.4.0 ; python_full_version == "3.10.8"
sphinx==6.1.3 ; python_full_version == "3.10.8"
sphinxcontrib-applehelp==1.0.8 ; python_full_version == "3.10.8"
sphinxcontrib-devhelp==1.0.6 ; python_full_version == "3.10.8"
sphinxcontrib-htmlhelp==2.0.5 ; python_full_version == "3.10.8"
sphinxcontrib-jsmath==1.0.1 ; python_full_version == "3.10.8"
sphinxcontrib-qthelp==1.0.7 ; python_full_version == "3.10.8"
sphinxcontrib-serializinghtml==1.1.10 ; python_full_version == "3.10.8"
sqlalchemy==2.0.7 ; python_full_version == "3.10.8"
starlette==0.26.1 ; python_full_version == "3.10.8"
tensorboard-data-server==0.6.1 ; python_full_version == "3.10.8"
tensorboard-plugin-wit==1.8.1 ; python_full_version == "3.10.8"
tensorboard==2.8.0 ; python_full_version == "3.10.8"
tensorflow-io-gcs-filesystem==0.23.1 ; python_full_version == "3.10.8"
tensorflow==2.8.0 ; python_full_version == "3.10.8"
termcolor==2.4.0 ; python_full_version == "3.10.8"
tf-estimator-nightly==2.8.0.dev2021122109 ; python_full_version == "3.10.8"
tomli==2.0.1 ; python_full_version == "3.10.8"
trio==0.25.0 ; python_full_version == "3.10.8"
typing-extensions==4.11.0 ; python_full_version == "3.10.8"
urllib3==1.26.18 ; python_full_version == "3.10.8"
uvicorn==0.21.1 ; python_full_version == "3.10.8"
werkzeug==3.0.2 ; python_full_version == "3.10.8"
wheel==0.43.0 ; python_full_version == "3.10.8"
wrapt==1.16.0 ; python_full_version == "3.10.8"